
<header class="header-area">

    <div class="header-middle bg-2" style="border:1px solid #444444;">
      <div class="container">
        <div class="row">

          <div class="col-md-3 hidden-sm hidden-xs">
            <div class="logo">
              <h1 i18n><a href="index.html" style="font-style: oblique;" >Kaja <img src="assets/images/title1.png" style="width:30px;margin-top:0;pad"> Murugan</a></h1>
            </div>
          </div>

          <div class="col-md-9 col-xs-12">
            <div class="header-middle-right">
              <ul>
                <li class="text-center">
                  <h3 style="color:white" i18n="@@quote">"If you don't like to read, you haven't found the right book"</h3>
                </li>
              </ul>
								<span style="color:white;float:right;" i18n="@@author">J.K. Rowling</span>
            </div>
          </div>
        </div>
      </div>
    </div>

      <app-sidebar></app-sidebar>

</header>
