
<section class="brand-area ptb-50" style="border:0px solid red;">

			<div class="container">

				<div class="row">
					<div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
						<div class="section-title section-title2">
							<h2>Localization</h2>
						</div>
					</div>
				</div>

        <div class="row text-center">

            <h1 i18n>
    About Component
  </h1>

  <h3 i18n="@@myName">
    Hello, My name is Ankit
  </h3>

  <p>This text will remain same in all languages</p>


        </div>

      </div>
</section>


