     <section class="about-area ptb-100" style="background-color:#ECEAE9">

            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-xs-12 wow fadeInLeft" data-wow-delay="0.5s">


                        <div class="visible-xs visible-sm responsive-menu" style="border:0px solid red; margin-top:-3%">
                            <a href="#" class="toggle-menu" i18n>
                                <i class="fa fa-bars"></i> Show Menu
                            </a>
                            <div class="show-menu">
                                <ul class="main-menu">
                                    <li>
                                        <a class="show-1 active homebutton" href="#" i18n> <i class="fa fa-home"></i>Home</a>
                                    </li>
                                    <li>
                                        <a class="show-2 active aboutbutton" href="#" i18n> <i class="fa fa-user"></i>Author</a>
                                    </li>
                                    <li>
                                        <a class="show-3 projectbutton" href="#" i18n> <i class="fa fa-camera"></i>Gallery</a>
                                    </li>
                                    <!--<li>
                                        <a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>


                        <div class="container" id="page-content" style="margin-top:-5%;">

                                <div class="row" style="border:0px solid red;">

                                <div class="col-md-9 col-sm-12 content-holder" style="border:0px solid green;">
                                    <!-- CONTENT -->
                                    <div id="menu-container">

                                        <div class="logo-holder logo-top-margin">
                                            <a href="#" class="site-brand"><img src="assets/images/about/v3.png" alt=""></a>
                                        </div>


                                        <div id="menu-1" class="homepage home-section text-center" style="border:0px solid red;">

                                            <div class="welcome-text">
                                                <h2 i18n>Published By <strong>Kaja Murugan</strong></h2>
                                                <p i18n> Write Something...</p>
                                            </div>

                                            <div class="box-content">
                                                <h3 class="widget-title" i18n>Writing Books...</h3>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-6 col-xs-12" style="border:0px solid red;">
                                                        <div class="project-item" style=" padding:15px; border:0px solid green;">

                                                                 <figure class='book'>
                                                                    <!-- Front -->
                                                                    <ul class='hardcover_front'>
                                                                        <li>
                                                                            <div class="coverDesign green">
                                                                                <span class="about-ribbon" i18n>UpComing</span>
                                                                                <h1 i18n>Book 1</h1>
                                                                                <p i18n>Upcoming</p>
                                                                            </div>
                                                                        </li>
                                                                        <li></li>
                                                                    </ul>

                                                                    <!-- Pages -->
                                                                    <ul class='page'>
                                                                        <li></li>
                                                                        <li>
                                                                            <a href="#"><img src="assets/images/about/pen2.jpg" alt=""></a>
                                                                        </li>
                                                                        <li></li>
                                                                        <li></li>
                                                                        <li></li>
                                                                    </ul>

                                                                    <!-- Back -->
                                                                    <ul class='hardcover_back'>
                                                                        <li></li>
                                                                        <li></li>
                                                                    </ul>
                                                                    <ul class='book_spine'>
                                                                        <li></li>
                                                                        <li></li>
                                                                    </ul>
                                                                </figure>

                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                                        <div class="project-item" style=" padding:15px; border:0px solid green;">
                                                             <figure class='book'>
                                                                <!-- Front -->
                                                                <ul class='hardcover_front'>
                                                                    <li>
                                                                        <div class="coverDesign sky-blue">
                                                                            <span class="about-ribbon" i18n>UpComing</span>
                                                                            <h1 i18n>Book 2</h1>
                                                                            <p i18n>Upcoming</p>
                                                                        </div>
                                                                    </li>
                                                                    <li></li>
                                                                </ul>

                                                                <!-- Pages -->
                                                                <ul class='page'>
                                                                    <li></li>
                                                                    <li>
                                                                        <a href="#"><img src="assets/images/about/pen2.jpg" alt=""></a>
                                                                    </li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>

                                                                <!-- Back -->
                                                                <ul class='hardcover_back'>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>
                                                                <ul class='book_spine'>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>
                                                            </figure>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                                        <div class="project-item" style=" padding:15px; border:0px solid green;">

                                                             <figure class='book'>
                                                                <!-- Front -->
                                                                <ul class='hardcover_front'>
                                                                    <li>
                                                                        <div class="coverDesign blue">
                                                                            <span class="about-ribbon" i18n>UpComing</span>
                                                                            <h1 i18n>Book 3</h1>
                                                                            <p i18n>Upcoming</p>
                                                                        </div>
                                                                    </li>
                                                                    <li></li>
                                                                </ul>

                                                                <!-- Pages -->
                                                                <ul class='page'>
                                                                    <li></li>
                                                                    <li>
                                                                        <a href="#"><img src="assets/images/about/pen2.jpg" alt=""></a>
                                                                    </li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>

                                                                <!-- Back -->
                                                                <ul class='hardcover_back'>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>
                                                                <ul class='book_spine'>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>
                                                            </figure>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div id="menu-2" class="content about-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="box-content profile">
                                                        <h3 class="widget-title" i18n>Learn about us</h3>
                                                        <div class="profile-thumb">
                                                            <img src="assets/images/about/slider_1.png" alt="">
                                                        </div>
                                                        <div class="profile-content">
                                                            <h5 class="profile-name" i18n>Kaja Murugan</h5>
                                                            <span class="profile-role" i18n>Story Writer</span>
                                                            <p i18n>Vestibulum pellentesque ante sit amet tristique hendrerit. Sed consequat, nunc lobortis faucibus pretium, enim nibh blandit est, nec sollicitudin est quam a neque. Aenean eget malesuada justo.<br><br>
                                                            Website <a rel="nofollow" href="#">kajamurugan</a></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-sm-4">
                                                    <div class="box-content">
                                                        <h3 class="widget-title" i18n>Stay In Touch</h3>
                                                        <p i18n>Vestibulum pellentesque ante sit amet tristique hendrerit. Sed consequat, nunc lobortis faucibus pretium, enim nibh blandit est, nec sollicitudin est quam a neque. Aenean eget malesuada justo.</p>
                                                        <div class="about-social">
                                                            <ul>
                                                                <li><a href="#" class="fa fa-facebook"></a></li>
                                                                <li><a href="#" class="fa fa-twitter"></a></li>
                                                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                                                <li><a href="#" class="fa fa-dribbble"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 col-sm-5">
                                                    <div class="box-content">
                                                        <h3 class="widget-title" i18n>Recent Awards</h3>
                                                        <div class="project-item">
                                                            <img src="assets/images/about/awards4.jpg" alt="">
                                                            <div class="project-hover">
                                                                <h4 i18n>Great Nature Capture</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-7 col-sm-7">
                                                    <div class="box-content">
                                                        <h3 class="widget-title" i18n>Writing services</h3>
                                                        <p i18n>Wherever you’re based, you can contact either of them here for more information on services and rates:</p> <br>
                                                        <form class="contact-form">
                                                            <fieldset i18n>
                                                                <input type="text" class="name" id="name" placeholder="Name...">
                                                            </fieldset>
                                                            <fieldset i18n>
                                                                <input type="email" class="email" id="email" placeholder="Email...">
                                                            </fieldset>
                                                            <fieldset i18n>
                                                                <input type="text" class="subject" id="subject" placeholder="Subject...">
                                                            </fieldset>
                                                            <fieldset i18n>
                                                                <textarea name="message" id="message" cols="30" rows="4" placeholder="Message.."></textarea>
                                                            </fieldset>
                                                            <fieldset i18n>
                                                                <input type="submit" class="button" id="button" value="Send">
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div id="menu-3" class="content gallery-section">
                                            <div class="box-content">
                                                <h3 class="widget-title" i18n>Gallery</h3>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                                        <div class="project-item">
                                                            <img src="assets/images/about/slider_1.png" alt="">
                                                            <div class="project-hover">
                                                                <h4 i18n>Kaja Murugan</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                                        <div class="project-item">
                                                            <img src="assets/images/about/slider_1.png" alt="">
                                                            <div class="project-hover">
                                                                <h4 i18n>Kaja Murugan</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                                        <div class="project-item">
                                                            <img src="assets/images/about/slider_1.png" alt="">
                                                            <div class="project-hover">
                                                                <h4 i18n>Kaja Murugan</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                                        <div class="project-item">
                                                            <img src="assets/images/about/slider_1.png" alt="">
                                                            <div class="project-hover">
                                                                <h4 i18n>Kaja Murugan</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                                        <div class="project-item">
                                                            <img src="assets/images/about/slider_1.png" alt="">
                                                            <div class="project-hover">
                                                                <h4 i18n>Kaja Murugan</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                                        <div class="project-item">
                                                            <img src="assets/images/about/slider_1.png" alt="">
                                                            <div class="project-hover">
                                                                <h4 i18n>Kaja Murugan</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="project-pages">
                                                    <ul>
                                                        <li><a href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">...</a></li>
                                                    </ul>
                                                </div>-->
                                            </div>
                                        </div>

                                        <!--<div id="menu-4" class="content contact-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="box-content">
                                                        <h3 class="widget-title">Send Us A Message</h3>
                                                        <form class="contact-form">
                                                            <fieldset>
                                                                <input type="text" class="name" id="name" placeholder="Name...">
                                                            </fieldset>
                                                            <fieldset>
                                                                <input type="email" class="email" id="email" placeholder="Email...">
                                                            </fieldset>
                                                            <fieldset>
                                                                <input type="text" class="subject" id="subject" placeholder="Subject...">
                                                            </fieldset>
                                                            <fieldset>
                                                                <textarea name="message" id="message" cols="30" rows="4" placeholder="Message.."></textarea>
                                                            </fieldset>
                                                            <fieldset>
                                                                <input type="submit" class="button" id="button" value="Send Message">
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="box-content">
                                                        <h3 class="widget-title">Stay In Touch</h3>
                                                        <p>Sed ullamcorper, risus a tincidunt efficitur, massa mauris ultricies leo, eu interdum eros erat non augue. <br><br>
                                                        Suspendisse ornare sollicitudin lectus non egestas. Nam fermentum imperdiet ligula congue venenatis. </p>
                                                        <div class="about-social">
                                                            <ul>
                                                                <li><a href="#" class="fa fa-facebook"></a></li>
                                                                <li><a href="#" class="fa fa-twitter"></a></li>
                                                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                                                <li><a href="#" class="fa fa-dribbble"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->

                                    </div>
                                </div>


                                <div class="col-md-3 hidden-sm"  style="border:0px solid red; margin-top:10%">

                                    <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                                        <ul class="main-menu">
                                            <li>
                                                <a class="show-1 active homebutton" href="#" i18n><i class="fa fa-home"></i>Home</a>
                                            </li>
                                            <li>
                                                <a class="show-2 aboutbutton" href="#" i18n><i class="fa fa-user"></i>Author</a>
                                            </li>
                                            <li>
                                                <a class="show-3 projectbutton" href="#" ><i class="fa fa-camera"></i>Gallery</a>
                                            </li>
                                            <!--<li>
                                                <a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact</a>
                                            </li>-->
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </div>



                    </div>


                </div>
            </div>
        </section>
