        <div class="contact-area ptb-50" style="border:1px solid #ECEAE9;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 wow fadeInLeft">
                        <div class="contact-wrap form-style">

                            <!--<h3>Contact Me</h3>-->

                                <div class="row">
                                    <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                                        <div class="section-title section-title2">
                                            <h2 style="color:#296DC1; ">Contact Me</h2>
                                        </div>
                                    </div>
                                </div>




                            <div class="cf-msg"></div>

							<form action="mail.php" method="post" id="cf">
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<input type="text" placeholder="Name" id="fname" name="fname">
									</div>
									<div class="col-sm-6 col-xs-12">
										<input type="text" placeholder="Email" id="email" name="email">
									</div>
									<div class="col-xs-12">
										<input type="text" placeholder="Subject" id="subject" name="subject">
									</div>
									<div class="col-xs-12">
										<textarea class="contact-textarea" placeholder="Message" id="msg" name="msg"></textarea>
									</div>
									<div class="col-xs-12">
										<button id="submit" class="cont-submit btn-contact" name="submit">SEND MESSAGE</button>
									</div>
								</div>
							</form>
                        </div>
                    </div>

                    <div class="col-md-4" style="border:0px solid red;">
                        <div class="contact-wrap" style="padding:2%;">
                            <ul>
                                <li class="col wow fadeInDown"  data-wow-delay=".4s">
                                    <i class="fa fa-phone"></i>
                                    <p>044 123 456</p>
                                    <p>044 987 654</p>
                                </li>
                                <li class="col wow fadeInDown"  data-wow-delay=".3s">
                                    <i class="fa fa-envelope"></i>
                                    <p>kajamurugan@gmail.com</p>
                                    <p>jainiitech@gmail.com</p>
                                </li>
                                <li class="col wow fadeInDown"  data-wow-delay=".2s">
                                    <i class="fa fa-fax"></i>
                                    <p>+91 8754930001</p>
                                    <p>+91 9790510897</p>
                                </li>
                                <li class="col wow fadeInDown"  data-wow-delay=".1s">
                                    <i class="fa fa-location-arrow"></i>
                                    111 Moondram Kattalai, Kundrathur Main Road, Chennai 602 101
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col wow fadeInLeft">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
