
  <section class="porftolio-area ptb-100" style="border:1px solid #ECEAE9;">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12">
                        <div class="portfolio-menu text-center">
                            <button class="active" data-filter="*"  i18n>Show All</button>
                            <button data-filter=".website" i18n>Comedy</button>
                            <button data-filter=".responsiv" i18n>Classics</button>
                            <button data-filter=".minimal" i18n>Thrillers</button>
                            <button data-filter=".clean" i18n>Drama</button>
                        </div>
                    </div>
                </div>

                <div class="row grid">

                    <div class="col-md-4 portfolio clean col-sm-6 col-xs-12 col wow fadeInRight"  data-wow-delay="1.0s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">

                                 <ul id="bk-list" class="bk-list clearfix" style= "float:right; border:0px solid red;">
                                    <li>
                                        <div class="bk-book book-3 bk-bookdefault">
                                            <div class="bk-front">
                                                <div class="bk-cover-back"></div>
                                                <div class="bk-cover">
                                                    <h2>
                                                        <span i18n>J.C. Salinger</span>
                                                        <span i18n>The Catcher in the Rye</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="bk-page">
                                                <div class="bk-content bk-content-current">
                                                    <p i18n>Oceanic flyingfish spotted danio fingerfish leaffish, Billfish halibut Atlantic cod threadsail poacher slender mola. Swallower muskellunge, turbot needlefish yellow perch trout dhufish dwarf gourami false moray southern smelt cod dwarf gourami. Betta blue catfish bottlenose electric ray sablefish.</p>
                                                </div>
                                                <div class="bk-content">
                                                    <p i18n>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
                                                </div>
                                                 <div class="bk-content textcolor">
                                                    <p i18n>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish. <span><a href="book_details.html">Read More..</a></span></p>
                                                </div>
                                            </div>
                                            <div class="bk-back">
                                                <img src="assets/images/home/3.png" alt="cat"/>
                                                <p i18n>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school. Navigating his way through the challenges of growing up, Holden dissects the 'phony' aspects of society.</p>
                                            </div>
                                            <div class="bk-right"></div>
                                            <div class="bk-left">
                                                <h2>
                                                    <span i18n>J.C. Salinger</span>
                                                    <span i18n>The Catcher in the Rye</span>
                                                </h2>
                                            </div>
                                            <div class="bk-top"></div>
                                            <div class="bk-bottom"></div>
                                        </div>
                                        <div class="bk-info">
                                            <button class="bk-bookback" i18n>Flip</button>
                                            <button class="bk-bookview" i18n>View inside</button>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 portfolio website col-sm-6 col-xs-12 col wow fadeInRight"  data-wow-delay="1.5s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">

                                <ul id="bk-list" class="bk-list clearfix" style= "float:right; border:0px solid green;">
                                    <li>
                                        <div class="bk-book book-5 bk-bookdefault">
                                            <div class="bk-front">
                                                <div class="bk-cover-back"></div>
                                                <div class="bk-cover">
                                                    <h2>
                                                        <span i18n>J.C. Salinger</span>
                                                        <span i18n>The Catcher in the Rye</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="bk-page">
                                                <div class="bk-content bk-content-current">
                                                    <p i18n>Oceanic flyingfish spotted danio fingerfish leaffish, Billfish halibut Atlantic cod threadsail poacher slender mola. Swallower muskellunge, turbot needlefish yellow perch trout dhufish dwarf gourami false moray southern smelt cod dwarf gourami. Betta blue catfish bottlenose electric ray sablefish.</p>
                                                </div>
                                                <div class="bk-content">
                                                    <p i18n>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
                                                </div>
                                                  <div class="bk-content textcolor">
                                                    <p i18n>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish. <span><a href="book_details.html">Read More..</a></span></p>
                                                </div>
                                            </div>
                                            <div class="bk-back">
                                                <img src="assets/images/home/3.png" alt="cat" style="border:0px solid green;"/>
                                                <p style="border:0px solid blue;" i18n>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school. Navigating his way through the challenges of growing up, Holden dissects the 'phony' aspects of society.</p>
                                            </div>
                                            <div class="bk-right"></div>
                                            <div class="bk-left">
                                                <h2>
                                                    <span i18n>J.C. Salinger</span>
                                                    <span i18n>The Catcher in the Rye</span>
                                                </h2>
                                            </div>
                                            <div class="bk-top"></div>
                                            <div class="bk-bottom"></div>
                                        </div>
                                        <div class="bk-info">
                                            <button class="bk-bookback" i18n>Flip</button>
                                            <button class="bk-bookview" i18n>View inside</button>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                     <div class="col-md-4 portfolio responsiv col-sm-6 col-xs-12 col wow fadeInRight"  data-wow-delay="2.0s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                               <ul id="bk-list" class="bk-list clearfix" style= "float:right; border:0px solid red;">
                                    <li>
                                        <div class="bk-book book-6 bk-bookdefault">
                                            <div class="bk-front">
                                                <div class="bk-cover-back"></div>
                                                <div class="bk-cover">
                                                    <h2>
                                                        <span i18n>J.C. Salinger</span>
                                                        <span i18n>The Catcher in the Rye</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="bk-page">
                                                <div class="bk-content bk-content-current">
                                                    <p i18n>Oceanic flyingfish spotted danio fingerfish leaffish, Billfish halibut Atlantic cod threadsail poacher slender mola. Swallower muskellunge, turbot needlefish yellow perch trout dhufish dwarf gourami false moray southern smelt cod dwarf gourami. Betta blue catfish bottlenose electric ray sablefish.</p>
                                                </div>
                                                <div class="bk-content">
                                                    <p i18n>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
                                                </div>
                                                 <div class="bk-content textcolor">
                                                    <p i18n>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish. <span><a href="book_details.html">Read More..</a></span></p>
                                                </div>
                                            </div>
                                            <div class="bk-back">
                                                <img src="assets/images/home/3.png" alt="cat"/>
                                                <p i18n>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school. Navigating his way through the challenges of growing up, Holden dissects the 'phony' aspects of society.</p>
                                            </div>
                                            <div class="bk-right"></div>
                                            <div class="bk-left">
                                                <h2>
                                                    <span i18n>J.C. Salinger</span>
                                                    <span i18n>The Catcher in the Rye</span>
                                                </h2>
                                            </div>
                                            <div class="bk-top"></div>
                                            <div class="bk-bottom"></div>
                                        </div>
                                        <div class="bk-info">
                                            <button class="bk-bookback" i18n>Flip</button>
                                            <button class="bk-bookview" i18n>View inside</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 portfolio website col-sm-6 col-xs-12  col wow fadeInRight"  data-wow-delay="1.0s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <ul id="bk-list" class="bk-list clearfix" style= "float:right; border:0px solid red;">
                                    <li>
                                        <div class="bk-book book-5 bk-bookdefault">
                                            <div class="bk-front">
                                                <div class="bk-cover-back"></div>
                                                <div class="bk-cover">
                                                    <h2>
                                                        <span i18n>J.C. Salinger</span>
                                                        <span i18n>The Catcher in the Rye</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="bk-page">
                                                <div class="bk-content bk-content-current">
                                                    <p i18n>Oceanic flyingfish spotted danio fingerfish leaffish, Billfish halibut Atlantic cod threadsail poacher slender mola. Swallower muskellunge, turbot needlefish yellow perch trout dhufish dwarf gourami false moray southern smelt cod dwarf gourami. Betta blue catfish bottlenose electric ray sablefish.</p>
                                                </div>
                                                <div class="bk-content">
                                                    <p i18n>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
                                                </div>
                                                 <div class="bk-content textcolor">
                                                    <p i18n>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish. <span><a href="book_details.html">Read More..</a></span></p>
                                                </div>
                                            </div>
                                            <div class="bk-back">
                                                <img src="assets/images/home/3.png" alt="cat"/>
                                                <p i18n>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school. Navigating his way through the challenges of growing up, Holden dissects the 'phony' aspects of society.</p>
                                            </div>
                                            <div class="bk-right"></div>
                                            <div class="bk-left">
                                                <h2>
                                                    <span i18n>J.C. Salinger</span>
                                                    <span i18n>The Catcher in the Rye</span>
                                                </h2>
                                            </div>
                                            <div class="bk-top"></div>
                                            <div class="bk-bottom"></div>
                                        </div>
                                        <div class="bk-info">
                                            <button class="bk-bookback" i18n>Flip</button>
                                            <button class="bk-bookview" i18n>View inside</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 portfolio minimal col-sm-6 col-xs-12 col wow fadeInRight"  data-wow-delay="1.5s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <ul id="bk-list" class="bk-list clearfix" style= "float:right; border:0px solid red;">
                                    <li>
                                        <div class="bk-book book-4 bk-bookdefault">
                                            <div class="bk-front">
                                                <div class="bk-cover-back"></div>
                                                <div class="bk-cover">
                                                    <h2>
                                                        <span i18n>J.C. Salinger</span>
                                                        <span i18n>The Catcher in the Rye</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="bk-page">
                                                <div class="bk-content bk-content-current">
                                                    <p i18n>Oceanic flyingfish spotted danio fingerfish leaffish, Billfish halibut Atlantic cod threadsail poacher slender mola. Swallower muskellunge, turbot needlefish yellow perch trout dhufish dwarf gourami false moray southern smelt cod dwarf gourami. Betta blue catfish bottlenose electric ray sablefish.</p>
                                                </div>
                                                <div class="bk-content">
                                                    <p i18n>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
                                                </div>
                                                 <div class="bk-content textcolor">
                                                    <p i18n>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish. <span><a href="book_details.html">Read More..</a></span></p>
                                                </div>
                                            </div>
                                            <div class="bk-back">
                                                <img src="assets/images/home/3.png" alt="cat"/>
                                                <p i18n>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school. Navigating his way through the challenges of growing up, Holden dissects the 'phony' aspects of society.</p>
                                            </div>
                                            <div class="bk-right"></div>
                                            <div class="bk-left">
                                                <h2>
                                                    <span i18n>J.C. Salinger</span>
                                                    <span i18n>The Catcher in the Rye</span>
                                                </h2>
                                            </div>
                                            <div class="bk-top"></div>
                                            <div class="bk-bottom"></div>
                                        </div>
                                        <div class="bk-info">
                                            <button class="bk-bookback" i18n>Flip</button>
                                            <button class="bk-bookview" i18n>View inside</button>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>



                    <div class="col-md-4 portfolio minimal col-sm-6 col-xs-12  col wow fadeInRight"  data-wow-delay="2.0s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <ul id="bk-list" class="bk-list clearfix" style= "float:right; border:0px solid red;">
                                    <li>
                                        <div class="bk-book book-7 bk-bookdefault">
                                            <div class="bk-front">
                                                <div class="bk-cover-back"></div>
                                                <div class="bk-cover">
                                                    <h2>
                                                        <span i18n>J.C. Salinger</span>
                                                        <span i18n>The Catcher in the Rye</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="bk-page">
                                                <div class="bk-content bk-content-current">
                                                    <p i18n>Oceanic flyingfish spotted danio fingerfish leaffish, Billfish halibut Atlantic cod threadsail poacher slender mola. Swallower muskellunge, turbot needlefish yellow perch trout dhufish dwarf gourami false moray southern smelt cod dwarf gourami. Betta blue catfish bottlenose electric ray sablefish.</p>
                                                </div>
                                                <div class="bk-content">
                                                    <p i18n>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
                                                </div>
                                                 <div class="bk-content textcolor">
                                                    <p i18n>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish. <span><a href="book_details.html">Read More..</a></span></p>
                                                </div>
                                            </div>
                                            <div class="bk-back">
                                                <img src="assets/images/home/3.png" alt="cat"/>
                                                <p i18n>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school. Navigating his way through the challenges of growing up, Holden dissects the 'phony' aspects of society.</p>
                                            </div>
                                            <div class="bk-right"></div>
                                            <div class="bk-left">
                                                <h2>
                                                    <span i18n>J.C. Salinger</span>
                                                    <span i18n>The Catcher in the Rye</span>
                                                </h2>
                                            </div>
                                            <div class="bk-top"></div>
                                            <div class="bk-bottom"></div>
                                        </div>
                                        <div class="bk-info">
                                            <button class="bk-bookback" i18n>Flip</button>
                                            <button class="bk-bookview" i18n>View inside</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="seemore-btn text-center">
                            <a href="javascript:void(0);" i18n>See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
