
<section class="service-area ptb-50" style="border:1px solid #ECEAE9;">

			<div class="container">

				<div class="row">
					<div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
						<div class="section-title section-title2">
							<h2>Short Stories</h2>
						</div>
					</div>
				</div>

				<div class="row">

                    <div id="scroll-wrap" class="container">

                        <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                            <div class="main">
                                    <div id="bookshelf" class="bookshelf">
                                    <figure>
                                        <div class="book" data-book="book-1"></div>

                                        <div class="buttons">
											<a href="story_contant.html">Read Story</a>
											<a href="#">Details</a>
										</div>

                                        <figcaption><h2>Maaya Ulagam <span>Kaja Murugan </span></h2></figcaption>
                                        <div class="details">
                                            <ul>
												<li><b>Description:</b>First Ever Tamil book with super heroes subject. This book travels us to different worlds & our small super heroes team fight magic thief...</li>
                                                <li>Year: 2019</li>
												<li>Price: &#8377;250</li>
                                                <li>Rating:
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star"></span>
												</li>
                                            </ul>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                            <div class="main">
                                    <div id="bookshelf" class="bookshelf">

                                    <figure>
                                        <div class="book" data-book="book-2"></div>
                                            <div class="buttons">
												<a href="story_contant.html">Read Story</a>
												<a href="#">Details</a>
											</div>
                                            <figcaption><h2>Life of a worm <span>Will Flores</span></h2></figcaption>

											<div class="details">
												<ul>
													<li><b>Description:</b>First Ever Tamil book with super heroes subject. This book travels us to different worlds & our small super heroes team fight magic thief...</li>
													<li>Year: 2019</li>
													<li>Price: &#8377;150</li>
													<li>Rating:
														<span class="fa fa-star checked"></span>
														<span class="fa fa-star checked"></span>
														<span class="fa fa-star checked"></span>
														<span class="fa fa-star"></span>
														<span class="fa fa-star"></span>
													</li>
												</ul>
											</div>

                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                            <div class="main">
                                    <div id="bookshelf" class="bookshelf">
                                    <figure>
                                        <div class="book" data-book="book-3"></div>
                                        <div class="buttons">
											<a href="story_contant.html">Read Story</a>
											<a href="#">Details</a>
										</div>
                                        <figcaption><h2>Lemon Rainbow <span>Christa Hausmann</span></h2></figcaption>
                                        <div class="details">
                                            <ul>
												<li><b>Description:</b>First Ever Tamil book with super heroes subject. This book travels us to different worlds & our small super heroes team fight magic thief...</li>
                                                <li>Year: 2019</li>
												<li>Price: &#8377;170</li>
                                                <li>Rating:
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
												</li>
                                            </ul>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>



                    </div>


				</div>
			</div>
		</section>
