<section class="blog-area ptb-100 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/1.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li i18n><a routerLink="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3 i18n><a routerLink="/blog">Blog 1</a></h3>
                                <p i18n>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a routerLink="/blog" class="btn-style" i18n>Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/4.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li i18n><a routerLink="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a routerLink="/blog" i18n>Blog 2</a></h3>
                                <p i18n>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a routerLink="/blog" class="btn-style" i18n>Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/2.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li i18n><a routerLink="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a routerLink="/blog" i18n>Blog 3</a></h3>
                                <p i18n>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a routerLink="/blog" class="btn-style" i18n>Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/6.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li i18n><a routerLink="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a routerLink="/blog" i18n> Blog 4</a></h3>
                                <p i18n>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a routerLink="/blog" class="btn-style" i18n>Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/3.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li i18n><a routerLink="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a routerLink="/blog" i18n>Blog 5</a></h3>
                                <p i18n>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a routerLink="/blog" class="btn-style" i18n>Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/7.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li i18n><a routerLink="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li i18n><a routerLink="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a routerLink="/blog" i18n>Blog 6</a></h3>
                                <p i18n>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a routerLink="/blog" class="btn-style" i18n>Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="pagination-wrap">
                            <ul>
                                <li><a routerLink="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a routerLink="#">1</a></li>
                                <li><a routerLink="#">2</a></li>
                                <li><a routerLink="#">3</a></li>
                                <li><a routerLink="#">4</a></li>
                                <li><a routerLink="#">5</a></li>
                                <li><a routerLink=""><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
