<section class="blog-area ptb-100 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/1.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog.html">Blog 1</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog.html" class="btn-style">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/4.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog.html">Blog 2</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog.html" class="btn-style">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/2.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog.html">Blog 3</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog.html" class="btn-style">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/6.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog.html"> Blog 4</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog.html" class="btn-style">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/3.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog.html">Blog 5</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog.html" class="btn-style">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/7.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog.html">Blog 6</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog.html" class="btn-style">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="pagination-wrap">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
