  <div class="contact-area ptb-100" style="border:1px solid #ECEAE9;">
            <div class="container">

                <div class="row">
					<div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
						<div class="section-title section-title2">
							<h2 style="color:#296DC1; " i18n>Writing Services</h2>
						</div>
					</div>
				</div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="contact-wrap">
                            <img src="assets/images/contact/writer.jpg">
                            <p i18n>&emsp; Kaja murugan offer a range of editorial and writing services. kajamurugan area is copywriting for marketing communications, including social media. kaja offers manuscript evaluations, line editing and ‘fixing’ services.</p><br>

                        </div>
                    </div>
                    <div class="col-md-7 wow fadeInLeft">
                        <div class="contact-wrap form-style">
                            <div class="cf-msg"></div>
							<form action="mail.php" method="post" id="cf">
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<input type="text" placeholder="Name" id="fname" name="fname" i18n>
									</div>
									<div class="col-sm-6 col-xs-12">
										<input type="text" placeholder="Email" id="email" name="email" i18n>
									</div>
									<div class="col-xs-12">
										<input type="text" placeholder="Subject" id="subject" name="subject" i18n>
									</div>
									<div class="col-xs-12">
										<textarea class="contact-textarea" placeholder="Message" id="msg" name="msg" i18n></textarea>
									</div>
									<div class="col-xs-12">
										<button id="submit" class="cont-submit btn-contact" name="submit" i18n>SEND MESSAGE</button>
									</div>
								</div>
							</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
