    <section class="slider-area" style="border:2px solid #F9F9F9; background-color:#FDFDFD;">

			<div class="container">

				<div class="row">

					<div class="col-md-6 col-xs-12 slider_img col wow fadeInLeft" data-wow-delay=".5s" style="border:0px solid red;">

						<!--<a href="about.html"><img src="assets/images/home/slider_1.png"
							onmouseover="this.src='assets/images/home/slider_2.png'"
							onmouseout="this.src='assets/images/home/slider_1.png'"
						border="0" alt=""/></a>-->
						<a routerLink="/about"><img src="assets/images/home/slider_1.png" alt=""/></a>


					</div>

					<div class="col-md-6 col-xs-12">

              <owl-carousel-o [options]="customOptions">

                <ng-template carouselSlide>
                    <ul class="bk-list clearfix">
											<li>
												<div class="bk-book book-1 bk-bookdefault" style="margin-left:10%">
													<div class="bk-front">
														<div class="bk-cover-back"></div>
														<div class="bk-cover">
															<h2>
																<span i18n>J.C. Salinger</span>
																<span i18n>The Catcher in the Rye</span>
															</h2>
														</div>
													</div>

													 <div class="bk-back">
														<img src="assets/images/home/3.png" alt="cat"/>
														<p i18n>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school.</p>
													</div>

													<div class="bk-right"></div>
													<div class="bk-left">
														<h2>
															<span i18n>J.C. Salinger</span>
															<span i18n>The Catcher in the Rye</span>
														</h2>
													</div>
												</div>

											</li>
										</ul>
                </ng-template>

                <ng-template carouselSlide>

                    <ul class="bk-list clearfix">
											<li>
												<div class="bk-book book-3 bk-bookdefault" style="margin-left:10%">
													<div class="bk-front">
														<div class="bk-cover-back"></div>
														<div class="bk-cover">
															<h2>
																<span i18n>J.C. Salinger</span>
																<span i18n>The Catcher in the Rye</span>
															</h2>
														</div>
													</div>

													<div class="bk-back">
														<img src="assets/images/home/3.png" alt="cat"/>
														<p i18n>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school.</p>
													</div>

													<div class="bk-right"></div>
													<div class="bk-left">
														<h2>
															<span i18n>J.C. Salinger</span>
															<span i18n>The Catcher in the Rye</span>
														</h2>
													</div>
												</div>

											</li>
										</ul>
                </ng-template>

                <ng-template carouselSlide>

                      <ul class="bk-list clearfix">
											<li>
												<div class="bk-book book-4 bk-bookdefault"  style="margin-left:10%">
													<div class="bk-front">
														<div class="bk-cover-back"></div>
														<div class="bk-cover">
															<h2>
																<span i18n>J.C. Salinger</span>
																<span i18n>The Catcher in the Rye</span>
															</h2>
														</div>
													</div>

													<div class="bk-back">
														<img src="assets/images/home/3.png" alt="cat"/>
														<p i18n>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school.</p>
													</div>

													<div class="bk-right"></div>
													<div class="bk-left">
														<h2>
															<span i18n>J.C. Salinger</span>
															<span i18n>The Catcher in the Rye</span>
														</h2>
													</div>
												</div>

											</li>
										</ul>


                </ng-template>

              </owl-carousel-o>


          </div>
        </div>
      </div>
    </section>



    <section class="brand-area ptb-50" style="border:0px solid red;">
			<div class="container">

				<div class="row">
					<div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
						<div class="section-title section-title2">
							<h2 i18n>New Release</h2>
						</div>
					</div>
				</div>

        <div class="row">
          <div class="col-md-12 col-sm-10 col-xs-12 col wow fadeInUp" data-wow-delay=".3s" style="border:0px solid red;">
            <div style="text-align:center">

              <owl-carousel-o [options]="customOptions_slider" >

                <ng-template carouselSlide>

                  <figure class='book'>
										<!-- Front -->
										<ul class='hardcover_front'>
											<li>
												<div class="coverDesign maroon">
													<span class="ribbon" i18n>NEW</span>
													<h1 i18n>Maya Ulagam</h1>
													<p i18n>Kaja Murugan</p>
												</div>
											</li>
											<li></li>
										</ul>

										<!-- Pages -->
										<ul class='page'>
											<li></li>
											<li>
												<a class="btn" routerLink="/book-details" i18n>Details</a>
											</li>
											<li></li>
											<li></li>
											<li></li>
										</ul>

										<!-- Back -->
										<ul class='hardcover_back'>
											<li></li>
											<li></li>
										</ul>
										<ul class='book_spine'>
											<li></li>
											<li></li>
										</ul>
									</figure>

                </ng-template>

                <ng-template carouselSlide>

                  <figure class='book'>
                    <!-- Front -->
                    <ul class='hardcover_front' style="border:0px solid red">
                      <li>
                        <img src="assets/images/home/maaya_ulagam.jpg" alt="">
                      </li>
                      <li></li>
                    </ul>

                    <!-- Pages -->
                    <ul class='page'>
                      <li></li>
                      <li>
                        <a class="btn" routerLink="/book-details" i18n>Details</a>
                      </li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>

                    <!-- Back -->
                    <ul class='hardcover_back'>
                      <li></li>
                      <li></li>
                    </ul>
                    <ul class='book_spine'>
                      <li></li>
                      <li></li>
                    </ul>
								  </figure>

                </ng-template>

                <ng-template carouselSlide>
                    <figure class='book'>
										<!-- Front -->
										<ul class='hardcover_front'>
											<li>
												<div class="coverDesign yellow">
													<span class="ribbon" i18n>NEW</span>
													<h1 i18n>Maaya Ulagam</h1>
													<p i18n>Kaja Murugan</p>
												</div>
											</li>
											<li></li>
										</ul>

										<!-- Pages -->
										<ul class='page'>
											<li></li>
											<li>
												<a class="btn" routerLink="/book-details" i18n>Details</a>
											</li>
											<li></li>
											<li></li>
											<li></li>
										</ul>

										<!-- Back -->
										<ul class='hardcover_back'>
											<li></li>
											<li></li>
										</ul>
										<ul class='book_spine'>
											<li></li>
											<li></li>
										</ul>
									</figure>

                </ng-template>

                <ng-template carouselSlide>
                    <figure class='book'>
										<!-- Front -->
										<ul class='hardcover_front'>
											<span class="ribbon" i18n>NEW</span>
											<li>
												<img src="assets/images/home/maaya_ulagam.jpg" alt="">
											</li>
											<li></li>
										</ul>

										<!-- Pages -->
										<ul class='page'>
											<li></li>
											<li>
												<a class="btn" routerLink="/book-details" i18n>Details</a>
											</li>
											<li></li>
											<li></li>
											<li></li>
										</ul>

										<!-- Back -->
										<ul class='hardcover_back'>
											<li></li>
											<li></li>
										</ul>
										<ul class='book_spine'>
											<li></li>
											<li></li>
										</ul>
									</figure>

                </ng-template>

                <ng-template carouselSlide>
                    <figure class='book'>
										<!-- Front -->
										<ul class='hardcover_front'>
											<li>
												<div class="coverDesign blue">
													<span class="ribbon" i18n>NEW</span>
													<h1 i18n>Maaya Ulagam</h1>
													<p i18n>Kaja Murugan</p>
												</div>
											</li>
											<li></li>
										</ul>

										<!-- Pages -->
										<ul class='page'>
											<li></li>
											<li>
												<a class="btn" routerLink="/book-details" i18n>Details</a>
											</li>
											<li></li>
											<li></li>
											<li></li>
										</ul>

										<!-- Back -->
										<ul class='hardcover_back'>
											<li></li>
											<li></li>
										</ul>
										<ul class='book_spine'>
											<li></li>
											<li></li>
										</ul>
									</figure>

                </ng-template>

                <ng-template carouselSlide>
                    <figure class='book'>
										<!-- Front -->
										<ul class='hardcover_front'>
											<span class="ribbon" i18n>NEW</span>
											<li>
												<img src="assets/images/home/maaya_ulagam.jpg" alt="">
											</li>
											<li></li>
										</ul>

										<!-- Pages -->
										<ul class='page'>
											<li></li>
											<li>
												<a class="btn" routerLink="/book-details" i18n>Details</a>
											</li>
											<li></li>
											<li></li>
											<li></li>
										</ul>

										<!-- Back -->
										<ul class='hardcover_back'>
											<li></li>
											<li></li>
										</ul>
										<ul class='book_spine'>
											<li></li>
											<li></li>
										</ul>
									</figure>

                </ng-template>

                <ng-template carouselSlide>
                    <figure class='book'>
										<!-- Front -->
										<ul class='hardcover_front'>
											<li>
												<div class="coverDesign blue">
													<span class="ribbon" i18n>NEW</span>
													<h1 i18n>Maaya Ulagam</h1>
													<p i18n>Kaja Murugan</p>
												</div>
											</li>
											<li></li>
										</ul>

										<!-- Pages -->
										<ul class='page'>
											<li></li>
											<li>
												<a class="btn" routerLink="/book-details" i18n>Details</a>
											</li>
											<li></li>
											<li></li>
											<li></li>
										</ul>

										<!-- Back -->
										<ul class='hardcover_back'>
											<li></li>
											<li></li>
										</ul>
										<ul class='book_spine'>
											<li></li>
											<li></li>
										</ul>
									</figure>

                </ng-template>

              </owl-carousel-o>

            </div>
          </div>
        </div>

      </div>
    </section>


    <section class="service-area home2-service-area ptb-50">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
						<div class="section-title section-title2">
							<h2 i18n>Our Special</h2>
							</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
						<div class="service-wrap">
							<div class="libro">
								<img src="assets/images/home/sp1.jpg" alt="" />

								<!--<img src="assets/images/home/sp1.jpg"
									onmouseover="this.src='assets/images/home/sp6.jpg'"
									onmouseout="this.src='assets/images/home/sp1.jpg'"  alt="" />-->


							</div>
							<div class="service-content">
								<a routerLink="/book_details" i18n>More Details</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
						<div class="service-wrap">
							<div class="libro">
								<img src="assets/images/home/sp2.jpeg" alt="" />
							</div>
							<div class="service-content">
								<a routerLink="/book-details" i18n>More Details</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
						<div class="service-wrap">
							<div class="libro">
								<img src="assets/images/home/sp4.jpeg" alt="" />
							</div>
							<div class="service-content">
								<a routerLink="/book-details" i18n>More Details</a>
							</div>
						</div>
					</div>

                    <div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
						<div class="service-wrap">
							<div class="libro">
								<img src="assets/images/home/sp5.jpg" alt="" />
							</div>
							<div class="service-content">
								<a routerLink="/book-details" i18n>More Details</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".5s">
						<div class="service-wrap">
							<div class="libro">
								<img src="assets/images/home/maaya_ulagam.jpg" alt="" />
							</div>
							<div class="service-content">
								<a routerLink="/book-details" i18n>More Details</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".6s">
						<div class="service-wrap">
							<div class="libro">
								<img src="assets/images/home/book.jpg" alt="" />
							</div>
							<div class="service-content">
								<a routerLink="/book-details" i18n>More Details</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".5s">
						<div class="service-wrap">
							<div class="libro">
								<img src="assets/images/home/book3.jpg" alt="" />
							</div>
							<div class="service-content">
								<a routerLink="/book-details" i18n>More Details</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".6s">
						<div class="service-wrap">
							<div class="libro">
								<img src="assets/images/home/cover.jpg" alt="" />
							</div>
							<div class="service-content">
								<a routerLink="/book-details" i18n>More Details</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>


    <!-- .Award start -->
		<section class="service-area home2-service-area">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
						<div class="section-title section-title2">
							<h2 i18n>Our Awards</h2>
						</div>
					</div>
				</div>


				<div class="row">

					<div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="border:0px solid blue;">
						<div class="scene">
							<div class="movie" onclick="return true" >
								<div class="poster" style="border:1px solid #B8B5B5;padding-top:30%;"><img src="assets/images/awards/dinathanthi_2.png" alt=""></div>
								<div class="info">
									<header>
										<!--<img src="assets/images/awards/still01.jpg" alt="">-->
										<h4 i18n> Best Writer Awards</h4>
										<h6 style="float:right" i18n>Date: Jan-01-2020</h6>
									</header>
									<p i18n>
										<span style="color:blue">&emsp;I</span>n Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers for his well-being from friends and family reach Heaven. Clarence Odbody, Angel Second Class, is assigned to visit Earth to save George, thereby earning his wings. Franklin and Joseph, the head angels, review George's life with Clarence.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s" style="border:0px solid blue;">
						<div class="scene">
							<div class="movie" onclick="return true">
								<div class="poster" style="border:1px solid #B8B5B5; padding-top: 30%;"><img src="assets/images/awards/dinaboomi_1.png" alt=""></div>
								<div class="info">
									<header>
										<!--<img src="assets/images/awards/still01.jpg" alt="">-->
										<h4 i18n> Best Story Awards</h4>
										<h6 style="float:right" i18n>Date: Jan-01-2020</h6>
									</header>
									<p i18n>
										<span style="color:blue">&emsp;I</span>n Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers for his well-being from friends and family reach Heaven. Clarence Odbody, Angel Second Class, is assigned to visit Earth to save George, thereby earning his wings. Franklin and Joseph, the head angels, review George's life with Clarence.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
						<div class="scene">
							<div class="movie" onclick="return true">
								<div class="poster" style="border:1px solid #B8B5B5; padding-top: 30%;"><img src="assets/images/awards/devi_2.png" alt=""></div>
								<div class="info">
									<header>
										<!--<img src="assets/images/awards/still01.jpg" alt="">-->
										<h4 i18n> Best Story Awards</h4>
										<h6 style="float:right" i18n>Date: Jan-01-2020</h6>
									</header>
									<p i18n>
										<span style="color:blue">&emsp;I</span>n Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers for his well-being from friends and family reach Heaven. Clarence Odbody, Angel Second Class, is assigned to visit Earth to save George, thereby earning his wings. Franklin and Joseph, the head angels, review George's life with Clarence.
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- Award end -->

