    <section class="blog-area ptb-100" style="border:1px solid #ECEAE9;">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-xs-12">
                        <div class="blog-details-wrap">
                            <div class="blog-details-img">
                                <div class="libro">
                                    <img src="assets/images/home/sp1.jpg" alt="" />
                                </div>
                                <div class="service-content" style="text-align:center;">
                                    <a routerLink="/story-contant" i18n>View Inside</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-xs-12">
                        <div class="blog-details-wrap">
                            <div class="blog-details-content textcolor">
                                <h2 i18n>The Tuscan Child</h2>
								<p i18n>by <span> <a routerLink="/about"> Kaja Murugan </a> </span> - Author</p>
								<p i18n>&emsp;The breath of the world is spirituality. If there is no spirituality there is no world. An immense intellect very much vaster than us spread all over the universe rules all of us. It gives knowledge to the people. The man who gets his small awareness from that big awareness forgets that great energy and start moving in the unscrupulous path.</p>

								<div class="row">

									<h3 style="text-align:center" i18n>______________Where to <span>Purchas</span>______________</h3>

									<div class="brand-active">

                    <owl-carousel-o [options]="purChas_slider">

                      <ng-template carouselSlide>
                        <div class="col-xs-12">
                          <div class="brand-wrap">
                            <a routerLink="https://www.amazon.in/Maaya-Ulagam-Small-Super-Heroes-ebook/dp/B07H58WL3B/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1552568366&sr=1-1" target="_blank">
                              <img src="assets/images/purchas/amazon.jpg" alt="">
                            </a>
                          </div>
    										</div>
                      </ng-template>

                 <ng-template carouselSlide>
                   <div class="col-xs-12">
											<div class="brand-wrap">
												<a href="#">
													<img src="assets/images/purchas/bookstore.png" alt="">
												</a>
											</div>
										</div>
                 </ng-template>

                 <ng-template carouselSlide>
										<div class="col-xs-12">
											<div class="brand-wrap">
												<a routerLink="#">
													<img src="assets/images/purchas/kobo.jpg" alt="">
												</a>
											</div>
										</div>
                  </ng-template>

                   <ng-template carouselSlide>
    								<div class="col-xs-12">
											<div class="brand-wrap">
												<a href="#">
													<img src="assets/images/purchas/barnes.png" alt="">
												</a>
											</div>
										</div>
                   </ng-template>

                  <ng-template carouselSlide>
										<div class="col-xs-12">
											<div class="brand-wrap">
												<a href="#">
													<img src="assets/images/purchas/kobo.jpg" alt="">
												</a>
											</div>
										</div>
                  </ng-template>

                 </owl-carousel-o>

									</div>
								</div>

							</div>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6 col-xs-12 col">
                        <aside class="right-sidebar">

                            <div class="category-wrap mb-30">
                                <h3 class="sidebar-title" i18n>Category</h3>
                                <ul>
                                    <li i18n><a href="#">Arts and Entertainment</a></li>
                                    <li i18n><a href="#">Bios and Memoirs</a></li>
                                    <li i18n><a href="#">Classics</a></li>
                                    <li i18n><a href="#">Comedy</a></li>
                                    <li i18n><a href="#">Drama and Poetry</a></li>
                                    <li i18n><a href="#">Health and Fitness</a></li>
                             		    <li i18n><a href="#">Mysteries and Thrillers</a></li>
                                </ul>
                            </div>

                        </aside>
                    </div>

                </div>

              <section class="brand-area ptb-50" style="border:0px solid red;">
			<div class="container">

				<div class="row">
					<div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
						<div class="section-title section-title2">
							<h2 i18n>Related Books</h2>
						</div>
					</div>
				</div>

        <div class="row">
          <div class="col-md-12 col-sm-10 col-xs-12 col wow fadeInUp" data-wow-delay=".3s" style="border:0px solid red;">
            <div style="text-align:center">

              <owl-carousel-o [options]="bookDetails_slider">

                <ng-template carouselSlide>

                  <div class="service-wrap">
                      <div class="libro">
                          <img src="assets/images/home/sp5.jpg" alt="" />
                      </div>
                      <div class="service-content">
                          <a routerLink="/book-details" i18n>More Details</a>
                      </div>
                  </div>

                </ng-template>

                <ng-template carouselSlide>

                  <div class="service-wrap">
                      <div class="libro">
                          <img src="assets/images/home/sp2.jpeg" alt="" />
                      </div>
                      <div class="service-content">
                          <a routerLink="/book-details" i18n>More Details</a>
                      </div>
                  </div>


                </ng-template>

                <ng-template carouselSlide>

                  <div class="service-wrap">
                      <div class="libro">
                          <img src="assets/images/home/sp4.jpeg" alt="" />
                      </div>
                      <div class="service-content">
                          <a routerLink="/book-details" i18n>More Details</a>
                      </div>
                  </div>

                </ng-template>

                <ng-template carouselSlide>

                  <div class="service-wrap">
                      <div class="libro">
                          <img src="assets/images/home/maaya_ulagam.jpg" alt="" />
                      </div>
                      <div class="service-content">
                          <a routerLink="/book-details" i18n>More Details</a>
                      </div>
                  </div>

                </ng-template>

                <ng-template carouselSlide>

                  <div class="service-wrap">
                      <div class="libro">
                          <img src="assets/images/home/cover.jpg" alt="" />
                      </div>
                      <div class="service-content">
                          <a routerLink="/book-details" i18n>More Details</a>
                      </div>
                  </div>
                </ng-template>


              </owl-carousel-o>

            </div>
          </div>
        </div>

      </div>
    </section>


</div>
    </section>
